.container {
  width: 100%;
  height: 100vh;
  box-shadow: 0 0 3px 3px #666;
  overflow: auto;

  .bn-container {
    height: 100%;

    .bn-editor {
      height: 100%;
      border-radius: 0;
    }
  }
}
