.flow-grid {
  position: relative;
  height: 95vh;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-left: 20px;
  width: calc(100% - 20px);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 18%);
  grid-gap: 2vw;
  overflow-y: scroll;

  @media (max-width: 900px) {
    grid-template-columns: repeat(3, 30%);
  }

  @media (max-width: 450px) {
    grid-template-columns: repeat(1, 90%);
  }

  .flow-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    color: rgb(161, 160, 160);
    background-color: #fff;
    border-radius: 5px;
    border: 1px black solid;
    &:hover {
      border: 1px grey solid;
      background-color: grey;
    }
    width: 100%;
    aspect-ratio: 3/2;

    img {
      object-fit: cover;
      width: 100%;
      aspect-ratio: 3/2;
    }

    p {
      position: absolute;
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0;
      font-size: 1.5rem;
      bottom: 0;
    }
  }

  .flow-menu {
    border: red solid 2px;
    padding-left: 100px;
    cursor: pointer;
  }
}
//   .flow-container-mobile {
//     box-sizing: border-box;
//     margin-left: 20px;
//     height: 100%;
//     // border: red solid 2px;
//     width: calc(100% - 20px);
//     position: relative;
//     padding: 10px;
//     display: grid;
//     grid-template-columns: repeat(3, 30%);
//     grid-gap: 2vw;

//     .grid-item {
//       width: 100%;
//     }
//   }

//   .loading-checkpoint {
//     position: absolute;
//     visibility: hidden;
//     bottom: 0px;
//   }
// }
