.flow-grid {
  position: relative;
  height: 95vh;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  width: 94vw;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5, 18%);
  grid-template-rows: repeat(auto-fill, 12vw);
  grid-gap: 2vw;
  overflow-y: scroll;

  @media (max-width: 900px) {
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(auto-fill, 20vw);
  }

  @media (max-width: 450px) {
    grid-template-columns: repeat(1, 90%);
    grid-template-rows: repeat(auto-fill, 50vw);
  }

  .flow-button {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    color: rgb(161, 160, 160);
    background-color: #fff;
    border-radius: 5px;
    border: 1px black solid;
    &:hover {
      border: 1px grey solid;
      background-color: grey;
    }
    width: 100%;
    aspect-ratio: 3/2;

    img {
      object-fit: cover;
      width: 100%;
      border-radius: 5px;
      aspect-ratio: 3/2;
    }
  }

  p {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    bottom: 0;
  }
}
