.styled-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;

  .chatbot-modal-content {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 12px;
    justify-content: center;
    width: 80%;
    height: 80%;

    .workspace {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
  
      .sidebar-handler {
        display: flex;
        flex-direction: column;
        grid-template-columns: 9fr 1fr;
      }
    }
  }
}



.colab-tags {
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #f7f9fc;
  padding: 5px 10px 5px 10px;
  margin: 5px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  word-break: break-all;
}
