.chatbot-arsenal-window {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  height: 80vh;
  flex: 8;

  .arsenal-content {
    width: 70%;
    height: 100%;
    padding-left: 3rem;


    overflow: auto;
    display: flex;
    flex-direction: column;

    .ollama-tips {
      display: flex;
      align-items: center;
      padding-top: 1rem;
      padding-bottom: 1.125rem;

      .ollama-img {
        width: 30px;
        aspect-ratio: 1;
        border: black 2px solid;
        border-radius: 16px;
        margin-right: 1rem;
      }

      .chatgpt-img {
        width: 32px;
        aspect-ratio: 1;
        padding: 0 1px;
        border-radius: 16px;
        margin-right: 1rem;
      }

      .bulletin {
        padding-top: 0.125rem;
        font-weight: 700;
        font-size: 1.625rem;
      }
    }

    .ollama-uninstall {
      color: #666666;
      text-align: center;
      padding: 2rem 0 1.5rem;
    }

    .api-key-container {
      padding: 1rem 1.5rem 1rem 0.5rem;
      width: 70%;
    }

    .accordion-list {
      padding-bottom: 2rem;

      .ollama-list-header{
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 600;
      }
    }
  }

  @mixin disappear-div {
    @media (max-width: 750px) {
      @content;
    }
  }

  .downloading {
    height: 100%;
    flex-grow: 1;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

    @include disappear-div {
      display: none;
    }

    .download-title {
      padding-left: 0.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.75rem;
      color: #666666;
      font-size: 0.875rem;
    }

    .download-block {
      padding: 0.125rem 0.5rem;
    }
  }
}

.MuiAccordionSummary-content {
  align-items: center;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;

  .ollama-model-name {
    font-weight: 100;
  }
}

.ollama-model-desc {
  width: 100%;
  word-wrap: break-word;

  span {
    padding-bottom: 2rem;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
