.arsenalWindow {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  height: 100%;
  flex: 8;

  .accordionList {
    width: 70%;
    height: 100%;
    padding-left: 10px;

    overflow: auto;

    .horizontalLine {
      width: 100%;
      font-size: 1vw;
      text-align: center;
      border-bottom: 1px solid #414a4c;

      line-height: 0.1%;
      margin: 0;
      margin-top: 1vw;

      margin-bottom: 10px;
      margin-right: 10px;

      // border: 2px red solid;

      span {
        background: #fff;
        padding: 10px 10px;
      }
    }
  }

  .downloading {
    // border: blue solid 2px;
    height: 100%;
    flex-grow: 1;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

    .downloadTitle {
      padding-left: 0.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.75rem;
      color: #666666;
      font-size: 0.875rem;
    }

    .downloadBlock {
      padding: 0.125rem 0.5rem;
    }
  }
}

.MuiAccordionSummary-content {
  align-items: center;
}
