.chatbot-window {
  display: flex;
  flex: 8;
  height: 100%;

  .mainpage-handler {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .header-handler {
      width: 100%;
      padding-bottom: 10px;
      height: 50px;
    }

    .main {
      display: flex;
      justify-content: center;
      flex-grow: 1;

      .message-handler {
        display: flex;
        width: 80%;
        // height: 60vh;
        flex-direction: column;
        justify-content: space-between;

        .messages {
          display: flex;
          width: 100%;
          height: 60vh;
          text-align: center;
          flex-direction: column;
          overflow: auto;
          flex-grow: 1;
          // border: blue 2px solid;
        }

        .input-bar {
          margin-top: 15px;
          margin-bottom: 10px;
          justify-self: flex-end;
        }
      }
    }
  }
}

.message-container {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: row;
  padding-bottom: 1rem;

  .avatar-container {
    width: 30px;
    padding: 2px 12px 0 5px;

    .avatarImg {
      object-fit: cover;
      width: 30px;
      aspect-ratio: 1;
      border-radius: 50%;
    }
  }

  .message-mezzaine {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding-bottom: 10px;

    .nickname {
      text-align: left;
      // border: black 2px solid;
      font-weight: 700;
      padding-bottom: 5px;
    }

    .content {
      text-align: left;
      width: 80%;
    }

    .tools {
      text-align: left;
      align-items: flex-start;
      height: 30px;
      margin-top: 1rem;
    }
  }
}

.ql-container {
  font-size: 15px !important;
  box-sizing: border-box !important;
}
