.settings-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  // justify-content: center;
  background-color: #0e1111;
  color: white;
  width: 100%;
  padding: 5px;
  text-align: center;
  border-radius: 5px;

  &:hover {
    background-color: rgb(85, 82, 82);
  }
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}


.settings-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .settings-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .avatar-container {
    width: 30%;
    max-width: 300px;
    min-width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
  
    .custom-file-upload {
     
      width: 100%;
      aspect-ratio: 1;
      border-radius: 50% 50%;
      overflow: hidden;

      .avatar-label {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        aspect-ratio: 1;
        cursor: pointer;

        border-radius: 50%;

        .avatar-img-div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          border: black solid 5px;
          aspect-ratio: 1;
          border-radius: 50%;
          .avatar-img {
            object-fit: cover;
            width: 100%;
            aspect-ratio: 1;
            border-radius: 50%;
          }
        }
      }
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
    }

    &:hover {
      .custom-file-upload {
        animation-name: bounce;
        -moz-animation-name: bounce;
      }
    }
  }
}
